<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Load Excel</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h2>Upload Excel File</h2>
    <!-- Formulaire pour télécharger un fichier Excel -->
    <form action="/uploadExcel" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="excelFile" class="form-label">Choose Excel File</label>
            <input type="file" class="form-control" id="excelFile" name="excelFile" accept=".xlsx, .xls, .csv">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
</body>
</html>
